$z-fixed-menu: 100;
$containerwidth: 915px; 
$basefontsize: 16px; 

$tablets: 768px;
$phones: 480px;


@import "blocks/_media";
@import "blocks/_base";
@import "blocks/_normalize";
@import "blocks/_hamburger-menu.scss";
@import "blocks/_header";
@import "blocks/_hamburger";
@import "blocks/_hero";
@import "blocks/_section";
@import "blocks/_benefits";
@import "blocks/_reviews";
@import "blocks/_form";
@import "blocks/_fixed-menu";
@import "blocks/_contacts";
@import "blocks/_slider.scss";
@import "blocks/_dropdown.scss";
@import "blocks/_team.scss";