

.benefits {
	display: flex;
	justify-content: space-between;

	@include phones {
		flex-direction: column;
		padding-left: 3%;
	}

	&:after {
		content: url("../img/bookmark2.png");
		position: absolute;
		bottom: rem(-1008px);
		left: rem(126px);

		@include tablets {
			bottom: -57.5rem;
		}

		@include phones {
			bottom: -57.5rem;
		}
	}

	&__item {
		flex: 1;
		position: relative;
		padding: 0 3%;

		@include phones {
			padding: 0;
			margin-bottom: rem(22px);
		}
		
		&:before {
			content: url("../img/benefitselement.png");
			position: absolute;
			top: rem(50px);
			left: 92%;
			right: 0;
			transform: translate(-50%);

			@include tablets {
				display: none;
			}
			
		}

		&:first-child {
			padding-left: rem(0px);
		}

		&:last-child {
			padding-right: rem(0px);
			
			&:before {
				display: none;
			}
		}
	}

	&__wrapper {
		display: inline-block;
		width: rem(126px);
		height: rem(126px);
		position: relative;
		background: #F2F5F4;
		border-radius: 50%;
		overflow: hidden;

	}

	&__img {
		height: rem(60px);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}

	&__text {
		margin-top: rem(14px);
		@include phones {
			margin-top: rem(0px);
			margin-left: rem(32px);
		}
	}

	&__tiltle {
		font-size: rem(24px);
		font-weight: bold;
		color: black;
	}

	&__desc {
		line-height: 1.2;
		padding: 0 3%;
		margin-top: rem(6px);
		@include phones {
			padding: 0;
			margin-bottom: rem(48px);
		}
	}

}

.benefit {
	text-align: center;
	@include phones {
		display: flex;
		text-align: left;
	}
}


.benefits__item:before {
	@include tablets {
		display: none;
	}
}