
.hero {
	height: 100vh;
	min-height: rem(652px);
	background-color: #F5F5F5;
	position: relative;
	color: #292929;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: url("../img/hello__logo.png") left 101% center no-repeat;
		background-size: rem(489px);
		padding-bottom: rem(70px);
		padding-top: rem(35px);

		&:after {
			content: url("../img/bookmark.png");
			position: absolute;
			bottom: rem(-28px);
			right: rem(126px);
		}
	}

	&__tiltle-section {
		width: 46%;

		@include tablets {
			width: 100%;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center; 

			&:before {
				content: "";
				width: rem(323px);
				height: rem(323px);
				background: url("../img/hello__logo.png") center center / contain no-repeat;
				margin-bottom: 160px;
			}
		}
		@include phones {
			padding: 0 10%;
			&:before {
				margin-bottom: 140px;
			}
		}
	}

	&__tiltle {
		font-size: rem(48px);
		text-transform: uppercase;
		font-weight: bold;
    margin-top: rem(-86px);
    margin-bottom: rem(32px);
		line-height: 1;

		@include tablets {
			line-height: 1.1;
			padding: 0 10%;
			margin-bottom: rem(12px);
		}

		@include phones {
			font-size: rem(32px);
			margin-bottom: rem(24px);
		}
	} 
	&__tiltle-desc {
		margin-bottom: rem(50px);
    line-height: 1.15;
		font-size: rem(21px);
		font-family: 'alegreya_sans', Helvetica, sans-serif;
		
		@include tablets {
			margin-bottom: rem(20px);
		}
	
		@include phones {
			font-family: 'play', Helvetica, sans-serif;
		}
	}

	&__list-section {
		display: flex;
		align-items: center;
	}

	&__list-section {
		width: 58%;
	}

	&__item-section {
		display: flex;
		align-items: center;
	}
	
	&__img {
		min-height: rem(489px);
		min-width: rem(489px);
	}

	&__item--text {
		line-height: 1;
		margin-left: rem(15px);
	}
}

.button {

	font-size: rem(16px);
	border-radius: rem(35px);
	background-color: #E01F3D;
	padding: rem(21px) rem(41px);
	border-radius: rem(100px);
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-decoration: none;
	border: none;

	&:hover {
		background-color: #CA1B36;
		color: white;
	}

	@include phones {
		font-size: rem(20px);
	}

}

.hero__container {
	@include tablets {
		background: none;
	}
}

.hero__list-section {
	@include tablets {
		display: none;
	}
}

.icon {
	width: rem(40px); height: rem(40px);
}