$z-fixed-menu: 100;
$containerwidth: 915px; 
$basefontsize: 16px; 

$tablets: 768px;
$phones: 480px;

@function rem($px) {
	@return $px / $basefontsize + 0rem
}

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content; 
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content; 
	}
}